body {
    text-align: center;
    font-size: 13px;
    color: #20365F;
    padding: 30px 0 30px 0;
    margin: 0;
    background-image: url('https://www.londonfootandanklesurgery.co.uk/wp-content/uploads/2020/03/about-banner-2.jpg');
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 34px;
    margin-top: 0;
}

h2 {
    font-size: 28px;
}

hr {
    margin: 30px 0 20px 0;
}

.reg-border {
    width: 30%;
    min-width: 380px;
    max-width: 450px;
    margin: auto;
    border: 3px solid #20365F;
    border-radius: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.6);
}

form {
    text-align: left;
}

form input {
    width: 93%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #20365F;
    border-radius: 5px;
}

form select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: 100%;
   margin: auto;
   margin-top: 5px;
   padding: 10px;
   border-radius: 5px;
}

button {
    margin: auto;
    margin: 30px 0 30px 0;
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #248ec2;
    font-size: 16px;
    color: white;
}

.required-label {
    color: rgb(131, 11, 11);
    font-size: 11px;
    float: right;
    margin-right: 20px;
}

.address-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.address-part {
    width: 90%;
}

.radio-container {
    text-align: center;
    margin: 20px 0 20px 0;
}

.radios {
    width: 20%;
    margin: auto;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.back-button {
    width: 40%;
}

.next-button {
    width: 40%;
}

.privacy-statement {
    border: 1px solid #248ec2;
    padding: 0 10px 30px 10px;
    border-radius: 10px;
}

.pm-margin {
    margin-top: 20px;
}

.pm-checkbox {
    width: 20%;
    margin: 20px 0 20px 0;
}

/**
*Response queries
**/

@media only screen and (max-width: 500px) {
    .reg-border {
        width: 80%;
        min-width: 150px;
    }
  }